In [1]:
import pandas as pd
import numpy as np 
import mysql.connector
import sqlalchemy as alc

In [2]:
mydb = mysql.connector.connect(host='localhost', user='root', passwd='', database='retrowheels')

In [ ]:
mycursor = mydb.cursor()
mycursor.execute = ('''show full;''') 
myresult = mycursor.fetchall()

columns = mycursor.column_names
tables = pd.DataFrame(myresult, columns=columns)
tables

## Rumuskan single query untuk menampilkan ada berapa karyawan di setiap kota di mana toko anda berada, urutkan dari kota dengan jumlah Employee terbesar. Contoh output yang diharapkan:

In [ ]:
mycursor = mydb.cursor()
mycursor.execute('''select off.city, count(em.officeCode) as EmployeeNumber
from offices off inner join employees em on off.officeCode=em.officeCode
group by em.officeCode
order by em.officeCode;
''')
myresult = mycursor.fetchall()

## Rumuskan single query untuk menampilkan ada berapa jenis product dan lineproduct yang Anda miliki.

In [ ]:
mycursor = mydb.cursor()
mycursor.execute(''' select count(p.productName), count(pl.productLine)
from productlines pl, products p;
''')
myresult = mycursor.fetchall()

## Rumuskan single query untuk menampilkan 5 produk yg mendapat order paling banyak

In [ ]:
mycursor = mydb.cursor()
mycursor.execute(''' select products.productCode, products.productName, products.productLine, sum(orderdetails.quantityOrdered)
from orderdetails inner join products on orderdetails.productCode=products.productCode
group by products.productCode
order by sum(orderdetails.quantityOrdered) desc limit 5;
''')
myresult = mycursor.fetchall()

## Dari query di atas, kita tahu bahwa, 1992 Ferrari 360 Spider red memiliki jumlah order paling tinggi. Rumuskan single query untuk siapa saja yang membeli 1992 Ferrari 360 Spider red dan berapa total jumlah order mereka

In [ ]:
mycursor = mydb.cursor()
mycursor.execute(''' select customers.customerName, customers.city, customers.country, orderdetails.quantityOrdered as totalOrder
from customers inner join orders on customers.customerNumber=orders.customerNumber
inner join orderdetails on orders.orderNumber=orderdetails.orderNumber
where orderdetails.productCode='S18_3232'
group by customers.customerName limit 10;
''')
myresult = mycursor.fetchall()

## 3 dari 5 produk yang paling banyak diorder berasal dari line produk Vintage car. Rumuskan single query untuk mencari produk apa saja dari line produk Vintage car yang memiliki rata-rata order di bawah rata-rata order line produk tersebut

In [ ]:
mycursor = mydb.cursor()
mycursor.execute(''' select products.productCode, products.productName, products.productLine, avg(orderdetails.quantityOrdered)
from products inner join orderdetails on orderdetails.productCode=products.productCode
where products.productLine='Vintage car'
group by products.productCodec
having avg(orderdetails.quantityOrdered)> ;
''')
myresult = mycursor.fetchall()